:root {
  --bun-brown: #edcf8e;
  --sausage-red: #db2c00;
}

.container {
  top: 6.25rem;
  left: 12.5rem;
  position: relative;
  display: inline-flex;
}

.sausage {
  z-index: 1;
  height: 16.25rem;
  width: 3.125rem;
  background: linear-gradient(
    to right,
    var(--sausage-red) 0%,
    var(--sausage-red) 50%,
    #bf300b 50%,
    #bf300b 100%
  );
  border-radius: 1.875rem;
}

.roll {
  position: relative;
  top: 1.875rem;
  left: 0.625rem;
  height: 12.5rem;
  width: 3.125rem;
  background-color: var(--bun-brown);
  border-radius: 1.875rem;
}
.roll:last-of-type {
  filter: brightness(80%);
  left: -0.625rem;
}
