:root {
  --width-percentage: 40%;
}

.container {
  z-index: 0;
  position: relative;
  height: 5rem;
  width: 40rem;
  background-color: #7370c0;
}
.bar--body {
  margin: 1rem;
  z-index: 1;
  position: absolute;
  height: 3rem;
  width: 38rem;
  border-radius: 30px;
  background-color: #42406c;
  box-shadow: 1px -1px 3px 0.1px black;
}
.loading--bar {
  position: relative;
  top: 2.5px;
  z-index: 2;

  height: 2.55rem;
  border-radius: 30px;
  background-image: repeating-linear-gradient(
    -45deg,
    rgb(249, 231, 55) 0 5px,
    #ffe03e 5px 10px
  );
  animation: load 1.5s ease-in-out 2s;
  animation-fill-mode: forwards;

  /* transition: width 2s ease-in-out; alternative with js*/
}

@keyframes load {
  from {
    width: 0%;
  }
  to {
    width: var(--width-percentage);
  }
}
