:root {
  --width-percentage: 40%;
}

.container {
  position: relative;
  height: 5rem;
  width: 40rem;
  background-color: #7370c0;
}
.bar--body {
  margin: 1rem;
  z-index: 1;
  position: absolute;
  height: 3rem;
  width: 38rem;
  border-radius: 1.875rem;
  background-color: #42406c;
  box-shadow: 0.0625rem -0.0625rem 0.1875rem 0.0063rem black;
}
.loading--bar {
  position: relative;
  top: 0.1563rem;
  z-index: 2;

  height: 2.55rem;
  border-radius: 1.875rem;
  background-image: repeating-linear-gradient(
    -45deg,
    rgb(249, 231, 55) 0 0.3125rem,
    #ffe03e 0.3125rem 0.625rem
  );
  animation: load 1.5s ease-in-out 2s;
  animation-fill-mode: forwards;

  /* transition: width 2s ease-in-out; alternative with js*/
}

@keyframes load {
  from {
    width: 0%;
  }
  to {
    width: var(--width-percentage);
  }
}
