:root {
  --bun-brown: #facf78;
  --tomato-red: #eb2d2d;
  --burger-brown: #702d19;
  --cheese-yellow: #ffd129;
  --lettuce-green: #88eb2d;
}
.container {
  width: 20rem;
  height: 20rem;
  position: relative;
}

.bun {
  height: 5rem;
  width: 100%;
  background-color: var(--bun-brown);
  border-radius: 5rem 5rem 0 0;
}
.bun:last-of-type {
  transform: rotate(180deg);
  height: 3rem;
}

.tomato {
  background-color: var(--tomato-red);
  height: 1.5rem;
  width: 20rem;
}
.greens {
  background-color: var(--lettuce-green);
  height: 1.5rem;
  width: 20rem;
}
.cheese {
  background-color: var(--cheese-yellow);
  height: 1rem;
  width: 20rem;
}
.cheese::after {
  content: '';
  position: absolute;
  top: 7.5rem;
  left: 1.875rem;
  border-left: 8.125rem solid transparent;
  border-right: 8.125rem solid transparent;
  border-top: 2.1875rem solid var(--cheese-yellow);
}
.patty {
  background-color: var(--burger-brown);
  height: 3rem;
  width: 20rem;
}
