:root {
  --bun-brown: #facf78;
  --tomato-red: #eb2d2d;
  --burger-brown: #702d19;
  --cheese-yellow: #ffd129;
  --lettuce-green: #88eb2d;
}
.container {
  position: relative;
}

.bun {
  z-index: 0;
  position: absolute;
  height: 17rem;
  width: 20rem;
  background-color: var(--bun-brown);
  border-radius: 80px 80px 50px 50px;
}

.tomato {
  z-index: 1;
  top: 100px;
  position: absolute;
  background-color: var(--tomato-red);
  height: 1.5rem;
  width: 20rem;
}
.greens {
  z-index: 1;
  top: 180px;
  position: absolute;
  background-color: var(--lettuce-green);
  height: 1.5rem;
  width: 20rem;
}
.cheese {
  top: 120px;
  z-index: 2;
  position: absolute;
  background-color: var(--cheese-yellow);
  height: 1rem;
  width: 20rem;
}
.cheese::after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 16px;
  left: 30px;
  width: 0px;
  height: 0;
  border-left: 130px solid transparent;
  border-right: 130px solid transparent;
  border-top: 35px solid var(--cheese-yellow);
}
.patty {
  z-index: 1;
  top: 133px;
  position: absolute;
  background-color: var(--burger-brown);
  height: 3rem;
  width: 20rem;
}
